<div class="container" class="home">
    <!-- Content here -->
    <div class="homeimage__wrapper">
        <div class="col" class="home__background">
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="row">
        <div class="col-10">
            <section>
                <div class="example-label">Raised</div>
                <div class="example-button-row">
                  <button mat-raised-button>Action</button>
                  <button mat-raised-button>Adventure</button>
                  <button mat-raised-button>Animated</button>
                  <button mat-raised-button>Comedy</button>
                  <button mat-raised-button>Historical</button>
                  <button mat-raised-button>Horror</button>
                  <button mat-flat-button>More</button>
                </div>
            </section>
            <section>
                <div class="example-label">Raised</div>
                <div class="example-button-row">
                  <button mat-raised-button>Action</button>
                  <button mat-raised-button>Adventure</button>
                  <button mat-raised-button>Animated</button>
                  <button mat-raised-button>Comedy</button>
                  <button mat-raised-button>Historical</button>
                  <button mat-raised-button>Horror</button>
                  <button mat-flat-button>More</button>
                </div>
            </section>
            <section>
                <div class="example-label">Raised</div>
                <div class="example-button-row">
                  <button mat-raised-button>Action</button>
                  <button mat-raised-button>Adventure</button>
                  <button mat-raised-button>Animated</button>
                  <button mat-raised-button>Comedy</button>
                  <button mat-raised-button>Historical</button>
                  <button mat-raised-button>Horror</button>
                  <button mat-flat-button>More</button>
                </div>
            </section>
            <section>
                <div class="example-label">Raised</div>
                <div class="example-button-row">
                  <button mat-raised-button>Action</button>
                  <button mat-raised-button>Adventure</button>
                  <button mat-raised-button>Animated</button>
                  <button mat-raised-button>Comedy</button>
                  <button mat-raised-button>Historical</button>
                  <button mat-raised-button>Horror</button>
                  <button mat-flat-button>More</button>
                </div>
            </section>
        </div>
        <div class="col-2" class="home__favor">
            <div class="label-button">
                <span class="material-icons md-dark example-icon">face</span>
                <button mat-raised-button>Recent</button>
            </div> 
            <div class="label-button">
                <span class="material-icons md-dark example-icon">face</span>
                <button mat-raised-button>History</button>
            </div>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div >
       <div class="home-channel">
            <div class="video-title">
                <span class="video-span">Most Match</span>
                <button mat-button color="warn">More</button>
            </div>
            
            <div class="video-arrangement">
                <app-video></app-video>
                <app-video></app-video>
                <app-video></app-video>
                <app-video></app-video>
                <app-video></app-video>
                <app-video></app-video>
            </div>
        </div>
        <div class="home-channel">
            <div class="video-title">
                <span class="video-span">Most Watch</span>
                <button mat-button color="warn">More</button>
            </div>
            
            <div class="video-arrangement">
                <app-video></app-video>
                <app-video></app-video>
                <app-video></app-video>
                <app-video></app-video>
                <app-video></app-video>
                <app-video></app-video>
            </div>
        </div>
        <div class="row">
            <div class="col-9">
                <div class="home-channel">
                    <div class="video-title">
                        <span class="video-span">Movie</span>
                        <button mat-button color="warn">More</button>
                    </div>
                    <div class="video-arrangement">
                        <app-video></app-video>
                        <app-video></app-video>
                        <app-video></app-video>
                        <app-video></app-video>
                        <app-video></app-video>
                        <app-video></app-video>
                        <app-video></app-video>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="list-wrapper">
                    <app-list></app-list> 
                </div>
                    
            </div>
        </div>
        <div class="row">
            <div class="col-9">
                <div class="home-channel">
                    <div class="video-title">
                        <span class="video-span">Drama</span>
                        <button mat-button color="warn">More</button>
                    </div>
                    <div class="video-arrangement">
                        <app-video></app-video>
                        <app-video></app-video>
                        <app-video></app-video>
                        <app-video></app-video>
                        <app-video></app-video>
                        <app-video></app-video>
                        <app-video></app-video>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="list-wrapper">
                    <app-list></app-list> 
                </div>
                    
            </div>
        </div>
    </div>
</div>