<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="height:7%">
    <div class="form-inline">
      <input #condition class="form-control mr-sm-2 px-0 w-auto" type="search" placeholder="Search" aria-label="Search">
    </div>
    <button class="navbar-toggler px-0" type="button" data-toggle="collapse" data-target="#navbarColor01"
      aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse flex-grow-1 text-right" id="navbarColor01">
      <nav class="navbar-nav ml-auto">
        <a class="nav-link active" routerLink="/">Home<span class="sr-only">(current)</span></a>
        <a class="nav-link" routerLink="/overview">Overview</a>
        <a class="nav-link" routerLink="/discussion">Discusion</a>
      </nav>
    </div>
  </nav>